// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;
$font-stack: Helvetica, sans-serif;

body {
  margin-left: 40px;
  background: $gray;
  font: 100% $font-stack;
}

h3 {
  font: 100% $font-stack;
}
